@media (max-width: 1080px) {
    #cris{
        width: 110px;
    }

    #fotopodo{
        width: 90px;
    }

    #texto{
        font-size: 13px;
    }

    main{
        display: inline-block;
        justify-content: center;
        align-items: center;
    }

    #informações{
        font-size: 14px;
    }

    #carrossel{
        width: 60%;
    }





    .whats{
        right: 5px;
    }

}